pipeline/PL_ETL_RegisteredUnits.json
{
	"name": "PL_ETL_RegisteredUnits",
	"properties": {
		"description": "This pipeline extracts registered units data from xml report and loads data to registered_units, and processed_files tables.",
		"activities": [
			{
				"name": "DF_RegisteredUnits",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "GetFileMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_RegisteredUnits",
						"type": "DataFlowReference",
						"parameters": {
							"curr_file_name": {
								"value": "'@{activity('GetFileMetadata').output.itemName}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "GetFileMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FILE_RegisteredUnitsSource",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"folder": {
			"name": "PL_DATA"
		},
		"annotations": []
	}
}